/* TODO update css contents here */

input[type=file]::file-selector-button {
    color: var(--mid);
    padding: 10px 25px;
    border: 1px solid var(--mid);
    border-radius: 15px;
}

input[type=file]::file-selector-button:hover {
    color: red;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--mid);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

:root {
    --bright: rgb(182, 182, 182);
    --mid: rgb(71, 71, 71);
    --dark: black;
    --accent-1: #ee7123;
    --accent-2: rgb(117, 183, 86);
    --modal-wrapper: rgba(0, 0, 0, 0.75);
    --modal: rgba(222, 222, 222, 0.65);
    --padding: 30px;
}


/* html, */
body {
    background-color: var(--bright);
    padding: var(--padding);
    width: 100vw;
    /* height: 100vh; */
    height: 700px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
}

* {
    margin: 0;
    padding: 0;
    font-weight: 400;
    letter-spacing: 0.08em;
    line-height: 120%;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

/* message styling */
.message-wrapper {
    z-index: 2199;
    width: 120vw;
    height: 120vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--modal-wrapper)
}

.message {
    z-index: 2999;
    margin: auto;
    border-radius: 15px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 200px;
    background-color: var(--bright);
    display: flex;
    text-align: center;
    padding: 15px;
}

@media only screen and (max-width: 600px) {
    .message {
        border-radius: 15px;
        position: fixed;
        top: 50%;
        width: 250px;
        height: 200px;
        background-color: var(--bright);
        transform: translate(-50%, -50%);
    }

}

.message * {
    font-size: 2rem;
    margin: auto;
}

.good {
    border: 4px solid var(--accent-2);
}

.bad {
    border: 4px solid var(--accent-1);
}


nav {
    /* border: 1px solid red; */
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 15vh;
    display: flex;
    padding: var(--padding);
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
    width: 100%;
    margin: auto;
    font-size: 1.4rem;
}

.brand-logo {
    font-size: 2rem;
}

.brand-logo span {
    font-size: 1rem;
}

.nav-wrapper ul {
    display: flex;
    align-items: center;
    vertical-align: middle;
    list-style: none;
}

.nav-wrapper ul * {
    margin: 0px 10px;
}


/* this is the form wrapper */
#form-wrapper {
    margin: auto;
    min-width: 600px;
    width: 40vw;
    height: 80vh;
    background-color: transparent;
}

form {
    width: auto;
    margin: 0px 30px;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

form>* {
    margin-top: 18px;
    font-size: 1rem;
}

form label {
    padding: 0px 10px;
}

#gender,
#date-of-birth,
/* #price, */
#cover,
#category-id {
    border-radius: 15px;
    border: 1px solid;
}

form button {
    border-radius: 15px;
    border: 1px solid var(--mid);
    padding: 10px 30px;
    margin: 10px 10px 0px;
    font-size: 1rem;
}

#links {
    display: flex;
}

a {
    font-size: 1rem;
    text-decoration: none;
    color: var(--dark);
}

.x * {
    font-size: 1.6rem;
    font-weight: bolder;
}

hr {
    margin-top: 8vh;
}

/* styling for grid of cards */
.gallery * {
    /* z-index: -99; */
    width: 100%;
    border-radius: 10px;
}

#wrapper {
    /* border: 1px solid red; */
    height: 100%;
    width: 100%;
    /* max-width: 100vw; */
    /* overflow-x: hidden;
  overflow-y: scroll; */
}

.gallery {
    margin-top: 10px;
    height: 100%;
    max-width: 100vw;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 8px 8px;
    display: grid;
    grid-gap: 8px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

@media only screen and (max-width: 600px) {
    .gallery {
        padding: 4px;
        display: grid;
        grid-gap: 0px;
        position: relative;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));

    }

    .gallery img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.gallery .item {
    text-align: center;
    position: relative;
    overflow: hidden;
    min-height: 300px;
    border: 1px solid var(--mid);
}

.gallery .item img {
    z-index: -9999;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.gallery .caption {
    margin: 0;
    padding: 1em;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100%;
    max-height: 100%;
    overflow: auto;
    transition: transform 0.5s;
    transform: translateY(100%);
    color: rgb(255, 255, 255);
    font-size: 1.6em;
}

.gallery .item:hover {
    border: 2px solid var(--dark);
    outline: 1px solid var(--dark);
    outline-offset: -5px;
    transform: translateY(0%);
    cursor: pointer;
}

.gallery .item:hover .caption {
    transform: translateY(0%);
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .gallery .item {
        border: 5px solid var(--bright);
        transform: translateY(0%);
        cursor: pointer;
    }

    .gallery .item .caption {
        transform: translateY(0%);
        cursor: pointer;
    }
}


.gallery .item:hover {
    border: 2px solid var(--dark);
    outline: 1px solid var(--dark);
    outline-offset: -8px;
}

.gradient {
    height: 100%;
    width: 100%;
    position: absolute;
}

.rating {
    margin-top: 20px;
}

.gradient:hover {
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.0) 40%,
            rgba(0, 0, 0, 0.5) 70%,
            rgba(0, 0, 0, 0.9) 100%);
}

/* 
    .gallery *:hover+.caption {
        display: block;
    } */

@media only screen and (max-width: 600px) {
    .gradient {
        background: linear-gradient(to bottom,
                rgba(0, 0, 0, 0.0) 40%,
                rgba(0, 0, 0, 0.5) 70%,
                rgba(0, 0, 0, 0.9) 100%);
    }

    .gallery *+.caption {
        display: block;
    }

    #links {
        margin-top: 10px;
    }

    .gallery {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}

/* utility styling */

input,
select,
textarea {
    border: none;
    border-bottom: 2px solid var(--mid);
    margin-bottom: 10px;
    /* margin-right: 15px; */
    padding: 10px;
    font-size: 1rem;
    background-color: transparent;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.none {
    display: none !important;
}

.action {
    background-color: var(--accent-2);
}

.active {
    border-bottom: 3px solid var(--accent-2);
}

.active * {
    color: black;
    font-weight: 900;
}

button:hover {
    cursor: pointer;
    background-color: var(--bright);
    color: var(--dark);
}